/* -----------------------------------------------------------------
    - Portfolio
----------------------------------------------------------------- */

.gutter-sizer {
  width: rem(30px);
}
  
.gallery-grid {
  @include flex();
  
  &__item {
	margin-bottom: rem(21px);
    width: calc(33% - 17.5px);
	
	@media only screen and (max-width: $large) {
	  width: calc(50% - 16px);
	}
	
	@media only screen and (max-width: $medium) {
	  width: 100%;
	}	
	
	&:hover .gallery-grid__image {
	  transform: scale3d(1.1,1.1,1);
	}
  }
  
  &__image-wrap {
    border-radius: #{$border-rounded-20 * .7};
    height: rem(176px);
	overflow: hidden;
    position: relative;
	width: 100%;
	z-index: 1;
	
	@media only screen and (max-width: $large) {
	  height: rem(208px);
	}
	
	@media only screen and (max-width: $medium) {
	  height: rem(288px);
	}
  }
  
  &__image {
    border-radius: #{$border-rounded-20 / 2};
	transform: scale3d(1,1,1);
  }
  
  &__caption {
    padding-left: rem(3px);
  }
  
  &__title {
    font-size: rem(15px);
	font-weight: $weight-600;
	margin-top: rem(16px);
	margin-bottom: 0;
  }
  
  &__category {
    font-size: rem(14px);
	color: $gray-300-color;
	display: block;
  }
}

// Filter
@media only screen and (min-width: 769px) {
  .filter {
    @include inline-flex($wrap: wrap);
    list-style: none;
    margin-bottom: rem(19px);
    padding: 0;
  
    &__item {
      padding-right: rem(19px);
	
	  &:first-child {
	    display: none;
	  }	
	
	  &:last-child {
	    padding-right: 0;
	  }
	  
	  &.active a {
	    color: $tone-color;
	  }
    }
  
    &__link {
	  color: $gray-300-color;
      padding: 0 rem(4px);
      text-decoration: none;
	  display: block;
	  overflow: hidden;
	  position: relative;
	  
	  &:hover {
	    text-decoration: none;
	  }
    }
  }
}

.select .placeholder {
  display: none;
}

@media only screen and (max-width: $medium) {
  .select {
    background-color: $gray-100-color;
	border-radius: rem(20px);
    color: $gray-300-color;
    display: block;
    margin-bottom: rem(32px);
    padding: rem(3px) rem(19px) rem(3px) rem(24px);
	position: relative;
    vertical-align: middle;
    text-align: left;
    user-select: none;
	width: 100%;
    -webkit-touch-callout: none;
    z-index: 2;
  
    .placeholder {
	  cursor: pointer;
	  display: block;
	  padding: rem(8px) 0;
      position: relative;
      z-index: 1;

      &:after {
	    @include position(absolute, $top: 50%, $right: rem(2px));
        transform: translateY(-50%);
        font-family: 'icomoon';
        content: '\e90e';
        z-index: 10;
      }
    }

    &.is-open {
      .placeholder:after{
        content: '\e90f';
      }
      ul {
        display: block;
      }
    }

    ul {
	  background-color: $white-color;
	  box-shadow: 0 rem(10px) rem(60px) rgba($gray-300-color,.25);
	  border-radius: $border-rounded-20; 
      display: none;
	  max-height: rem(600px);
	  overflow: hidden;
      overflow-y: auto;
      padding: rem(9px) 0;
	  @include position(absolute, $top: 100%, $left: 0);
      width: 100%;
	  z-index: 100;
	   
      li {
        display: block;
        text-align: left;
        padding: rem(3px) rem(19px);
        color: $black-color;
        cursor: pointer;

        &:hover {
          background-color: rgba($tone-color,1);
        }
		
		&:hover a {
		  color: $white-color;
		}
		
	    &:first-child {
	      display: none;
	    }
	  
	    a {
		  color: $black-color;
	      text-decoration: none;
	    }
      }
    }
  }
}

@media only screen and (max-width: $small) {
  .select {
    margin-bottom: rem(24px);
  }
}